{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block title %} Регистрация {% endblock %}
{% block content %}
<div class="container-fluid body-back mx-auto" style="padding-top:50px;padding-bottom:50px">
    {% if request.user.is_anonymous %}
    <form class="transparent center-block" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="form-inner">
            <h6>Регистрация</h6>
            {{ user_form }}
            <button type="submit" class="btn btn-outline-dark btn-block btn-rounded">Создать аккаунт!</button>
        </div>

    </form>
    {% else %}
    <div class="card mb-3 text-center">
  <img src="{% static 'core/img/registration.jpg' %}" class="card-img-top" alt="...">
    <div class="card-header"><h6 class="card-title" style="font-size:40px">Вы уже зарегистрированны!</h6></div>
  <div class="card-body">
    <h6 class="card-text" style="font-size:30px">Спасибо что Вы с нами!</h6>
  </div>
  <div class="card-footer text-muted">
      <h6 class="card-text" style="font-size:30px"><small class="text-muted">Вернуться на <a href="{% url 'main' %}">главную страницу!</a></small></h6>
  </div>
</div>
    {% endif %}
</div>
{% endblock %}