{% extends "base.html" %}

{% block title %}Сбросить пароль{% endblock %}

{% block content %}
<div class="container-fluid body-back " style="padding-top:50px;padding-bottom:50px">
    <form class="transparent center-block" method="post" action=".">
        <div class="form-inner">
            <h6>Забыли свой пароль?</h6>
            <h6>Введите адрес электронной почты, чтобы получить новый пароль.</h6>
             {{ form }}
            <button type="submit" class="btn btn-outline-dark btn-block btn-rounded" value="Send e-mail">Выслать письмо</button>
            {% csrf_token %}
        </div>
    </form>
</div>
{% endblock %}