{% extends "base.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
<div class="container-fluid body-back " style="padding-top:50px;padding-bottom:50px">
    <form class="transparent center-block" method="post" action=".">
        <div class="form-inner">
            <h6>Измените свой пароль</h6>
             {{ form }}
            <button type="submit" class="btn btn-outline-dark btn-block btn-rounded" value="Change">Изменить пароль</button>
            {% csrf_token %}
        </div>
    </form>

</div>

{% endblock %}