{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block title %}Сбросить пароль{% endblock %}

{% block content %}
<div class="container-fluid body-back " style="padding-top:50px;padding-bottom:50px">

    {% if validlink %}
    <form class="transparent center-block" method="post" action=".">

        <div class="form-inner">
            <h6>Сбросить пароль</h6>

            <h6>Пожалуйста, введите ваш новый пароль дважды:</h6>
             {{ form }}
            <button type="submit" class="btn btn-outline-dark btn-block btn-rounded" value="Change my password">Изменить пароль</button>
            {% csrf_token %}

        </div>
    </form>
    {% else %}
    <div class="card mb-3 text-center">
  <img src="{% static 'core/img/error.jpg' %}" class="card-img-top" alt="...">
    <div class="card-header"><h6 class="card-title" style="font-size:40px">Ссылка для сброса пароля была недействительной, возможно, потому что она уже использовалась.</h6></div>
  <div class="card-footer text-muted">
    <h6 class="card-text" style="font-size:30px"><small class="text-muted">Пожалуйста, запросите новый пароль для сброса!</small></h6>
  </div>
</div>
            {% endif %}
</div>
{% endblock %}