{% extends "base.html" %}
{% load static %}
{% block title %}Сбросить пароль{% endblock %}

{% block content %}
<div class="container-fluid body-back " style="padding-top:50px;padding-bottom:50px">

<div class="card mb-3 text-center">
  <img src="{% static 'core/img/lock.jpg' %}" class="card-img-top" alt="...">
    <div class="card-header"><h6 class="card-title" style="font-size:40px">Сбросить пароль!</h6></div>
  <div class="card-body">
    <h6 class="card-text" style="font-size:30px">Мы отправили вам инструкции по установке пароля.</h6>
  </div>
  <div class="card-footer text-muted">
    <h6 class="card-text" style="font-size:30px"><small class="text-muted">Если вы не получили письмо, убедитесь, что вы ввели адрес,
        который вы зарегистрировали.</small></h6>
  </div>
</div>
</div>
{% endblock %}